body {
    font-family: Helvetica;
    line-height: 2;
}

h1 {
    font-size: 55px;
    line-height: 1.3;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}


/* Header Section */

header {
    padding: 0 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo {
    display: flex;
    align-items: center;
}

.options span {
    display: inline-block;
    padding-left: 16px;
}

.mobile-options {
    display: none;
}

/* Header Section Media Queries */

@media only screen and (max-width: 700px) {
    .logo, .options {
        display: none;
    }

    .mobile-options {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}

/* Learn Section */

.learn {
    display: flex;
    padding: 32px 0 32px 24px;
    background-color: lightgray;
}

.main-image {
    width: 60%;
}

.main-image img {
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-left: 32px;
}

.text h1 {
    padding-bottom: 24px;
}

.text p {
    padding-bottom: 24px;
}

button {
    padding: 16px 0 16px 0;
    background-color: darkgray;
    color: white;
    font-weight: bold;
    width: 75%;
}

/* Learn Section Media Queries */

@media only screen and (max-width: 700px) {
    
    body .learn {
        flex-direction: column;
        padding: 0 0 32px 0;
    }

    body .main-image {
        width: 100%;
    }

    body .text {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    h1 {
        text-align: center;
    }

}

/* Practice Section */

.practice {
    display: flex;
    padding: 32px 0 32px 24px;
}

.practice-info {
    width: 60%;
    padding-right: 24px;
}

.practice-info img {
    width: 100%;
}

.practice-info h2{
    padding: 32px 0 24px 0;
}

.quote {
    padding: 32px 0;
}

.sub-content {
    width: 40%;
    border-left: 1px solid lightgray;
}

.story {
    display: flex;
}

.story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.story-text p {
    padding: 8px 0;
}

.story-image {
    width: 35%;
    padding: 16px 16px;
}

.mobile-pic {
    display: none;
}

.story-image img {
    width: 100%
}

.orientation {
    border-bottom: 1px solid lightgray;
}

.campus {
    border-top: 1px solid lightgray;
}

.guest {
    background-color: lightgray;
}

/* Practice Section Media Queries */

@media only screen and (max-width: 700px) {
    .practice-info {
        display: none;
    }

    body .sub-content {
        width: 100%;
    }

    body .story {
        flex-direction: column;
        padding: 0 16px 32px 16px;
    }

    body .story-image {
        display: none;
    }

    body .mobile-pic {
        display: block;
    }

    .mobile-pic img {
        width: 100%;
    }

    body .practice {
        padding-left: 0;
    }

    body .story-text {
        align-items: flex-start;
    }

}

/* Start Section */

.start {
    background-color: lightgray;
}

.title {
    text-align: center;
    padding-top: 32px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 32px;
}

.subject {
    margin: 32px 32px;
    width: 25%;
    background-color: white;
}

.subject img {
    height: auto;
    width: 100%;
}

.subject-text {
    padding: 16px 16px 24px 16px;
}

.subject-text h4 {
    padding: 8px 0;
}

.mobile-course {
    display: none;
}

/* Start Section Media Queries */

@media only screen and (max-width: 700px) {
    .content {
        display: none;
    }

    body .mobile-course {
        display: block;
    }

    .mobile-course h2 {
        background-color: lightgray;
        margin-bottom: 8px;
        padding: 16px 0 16px 16px;
    }

    body .start {
        background-color: white;
    }

    body .title {
        padding-bottom: 32px;
    }
}

/* Thesis Section */

.thesis-content {
    display: flex;
    padding: 32px 0 32px 24px;
}

.video-section {
    width: 60%;
    margin-right: 24px;
}

.video-section video {
    width: 100%;
}

.fisma {
    background-color: lightgray;
}

/* Thesis Section Media Queries */

@media only screen and (max-width: 700px) {
    .video-text, .video-content {
        display: none;
    }

    body .video-section {
        width: 100%;
        margin-right: 0;
    }

    body .thesis-content {
        padding-left: 0;
    }

    body .video-title {
        padding-bottom: 0;
    }
}

/* Footer Section */

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 0 24px;
}

.foot-options span {
    display: inline-block;
    padding-left: 16px;
}

/* Footer Section Media Queries */

@media only screen and (max-width: 700px) {
    .foot-options {
        display: none;
    }

    footer {
        margin-top: 24px;
    }

    .copy {
        padding-bottom: 16px;
    }
}